<div class="container text-center">
  <div class="row mb-3 no-select">
    <h1>Sudoku Now</h1>
  </div>
  <table>
    <tr *ngFor="let row of [0, 1, 2, 3, 4,5, 6, 7, 8]" class="row_{{row}}">
      <td *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8]" class="col_{{col}}">
        <button [class.invalid]="invalidGuess.x == row && invalidGuess.y == col" (click)="setNumber(row,col)"
                (contextmenu)="rightClick($event, row, col)">
          {{ data[row][col] || '&nbsp;' }}
        </button>
      </td>
    </tr>
  </table>
  <div class="toolbar-tr">
    <button class="btn" *ngFor="let r of [1,2,3,4,5,6,7,8,9]" [class.activeBtn]="activeNumber == r" (click)="activeNumber = r">
      {{r}}
    </button>
  </div>

  <div class="mt-2">
    <button class="btn btn-secondary" type="button" (click)="clearSudoku()">Clear</button>
    <button class="btn btn-outline-primary mx-3" type="button" [disabled]="actionsBlocked" (click)="getSudoku()">Generate Sudoku</button>
    <button class="btn btn-primary" type="button" [disabled]="actionsBlocked" (click)="postSudoku()">Solve Sudoku</button>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10 col-md-7 col-lg-5 col-xl-4 col-xxl-4 text-center">
      <input type="range" class="form-range" id="my_range" min="26" max="63" [(ngModel)]="difficulty">
      <label for="my_range" class="form-label">Difficulty</label>
    </div>
  </div>
</div>
